.comics__container {
    display: flex;

    width      : 100%;
    max-width  : 1400px;
    margin     : 0 auto;
    padding-top: 50px;

    justify-content: center;
    flex-wrap      : wrap;
}

.comics__item {
    display       : flex;
    overflow      : hidden;
    flex-direction: column;

    width : 240px;
    margin: var(--spacing-medium);

    list-style: none;

    cursor    : pointer;
    transition: transform .5s;

    border          : 3px solid var(--color-light);
    border-radius   : 5px;
    background-color: var(--color-light);
}

.comics__item:hover {
    transform: scale(.95);
}

.comics__name {
    margin : auto;
    padding: var(--spacing-small) var(--spacing-medium);

    color: var(--color-dark);
}

.comics__img {
    width    : 100%;
    max-width: 100%;

    border-radius: 5px;
}

.header {
    position: fixed;
    z-index : 900;
    top     : 0;
    left    : 0;

    width: 100%;

    background-color: var(--color-light);
    box-shadow      : 0 5px 15px rgba(0, 0, 0, .5);
}

.header__container {
    display: flex;

    width    : 100%;
    max-width: 1400px;
    height   : 50px;
    margin   : 0 auto;
    padding  : 0 20px;

    color: var(--color-dark);

    align-items: center;
}

.header__logo {
    height      : 30px;
    margin-right: 20px;
}