.notify {
    position: fixed;
    bottom  : 0;
    left    : 0;

    width  : 100%;
    padding: 20px;
}

.notify__item {
    font-size  : 12px;
    line-height: 1.4;

    width     : 100%;
    max-width : 300px;
    margin-top: 10px;
    padding   : 15px;

    transition: all .5s;
    animation : notify-fade-in-left .3s ease forwards;

    color           : #fff;
    border-radius   : 5px;
    background-color: #000;
    box-shadow      : 0 0 15px rgba(0, 0, 0, .5);
}

:global(.notify__item.hide) {
    animation: notify-fade-out-left .3s ease forwards;
}

@keyframes notify-fade-in-left {
    from {
        transform: translateX(-50px);

        opacity: 0;
    }

    to {
        transform: translateX(0);

        opacity: 1;
    }
}

@keyframes notify-fade-out-left {
    from {
        transform: translateX(0);

        opacity: 1;
    }

    to {
        transform: translateX(-50px);

        opacity: 0;
    }
}