/* modal styling */

.modal {
    width          : 100%;
    height         : 100vh;
    position       : fixed;
    top            : 0;
    left           : 0;
    z-index        : 999;
    display        : flex;
    justify-content: center;
    align-items    : center;
    animation      : modal-fade-up 0.3s ease 1 forwards;
}

:global(.modal.hide) {
    animation: modal-fade-down 0.2s ease-in 1 forwards;
}

@keyframes modal-fade-up {
    from {
        transform: translateY(50px);
        opacity  : 0.3;
    }

    to {
        transform: translateY(0);
        opacity  : 1;
    }
}

@keyframes modal-fade-down {
    from {
        transform: translateY(0);
        opacity  : 1;
    }

    to {
        transform: translateY(50px);
        opacity  : 0;
    }
}

.modal__wrapper {
    position               : relative;
    padding-top            : 50px;
    max-width              : 1200px;
    width                  : calc(100vw - 20px);
    height                 : calc(100vh - 20px);
    background-color       : var(--color-light);
    border-top-left-radius : 5px;
    border-top-right-radius: 5px;
    overflow               : hidden;
    box-shadow             : 0 0 15px rgba(0, 0, 0, 0.8);
}

.modal__header {
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 50px;
    background-color: var(--color-light);
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    padding         : 0 12.5px;
    border-bottom   : 1px solid #e2e2e2;
    color           : var(--color-dark);
}

.modal__title {
    font-size    : 16px;
    font-weight  : 600;
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
    padding      : 0 20px;
}

@media (max-width: 500px) {
    .modal__title {
        padding-left : 0;
        padding-right: 12.5px;
    }
}

.modal__close {
    min-width : 25px;
    min-height: 25px;
    width     : 25px;
    height    : 25px;
    background: none;
    outline   : none;
    border    : none;
    cursor    : pointer;
}

.modal__close img {
    width: 100%;
}


/* characters styling */

.characters {
    display        : flex;
    align-content  : flex-start;
    justify-content: center;
    flex-wrap      : wrap;
    padding        : var(--spacing-medium);
    overflow       : auto;
    height         : 100%;
}

.characters {
    scrollbar-color: var(--color-blue) var(--color-light);
}

.characters::-webkit-scrollbar {
    width: 5px;
}

.characters::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

.characters::-webkit-scrollbar-track {
    background-color: var(--color-light);
}


/* character styling */

.character {
    display         : flex;
    flex-direction  : column;
    width           : 150px;
    background-color: var(--color-white);
    padding         : 3px;
    margin          : var(--spacing-small);
    border-radius   : 5px;
    cursor          : pointer;
    box-shadow      : var(--box-shadow);
    transition      : transform 0.3s ease;
}

.character:hover {
    transform: scale(0.98);
}

.character__img {
    width        : 100%;
    border-radius: 5px;
}

.character__name {
    margin     : auto;
    color      : #000;
    padding    : 5px;
    font-size  : 14px;
    line-height: 1.5;
}